In [1]:
import pandas as pd
from DoNotPublish import password
from sqlalchemy import create_engine
import psycopg2

In [2]:
protocol = 'postgresql'
username = 'postgres'
password = password
host = 'localhost'
port = 5432
database_name = 'pro_clubs_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [3]:
clubs_file_name = 'club_list_20592.csv'
matches_file_name = 'match_list_33150.csv'
player_file_name = 'final_player_perform_286752.csv'

In [4]:
clubs = pd.read_csv(f'raw_scraped_csv/{clubs_file_name}')
matches = pd.read_csv(f'raw_scraped_csv/{matches_file_name}')
player_performance = pd.read_csv(f'raw_scraped_csv/{player_file_name}')

In [5]:
# player_performance.to_sql('single_match_player_performance', engine, if_exists='replace', index=False)
# matches.to_sql('games', engine, if_exists='replace', index=False)
# clubs.to_sql('clubs', engine, if_exists='replace', index=False)

In [6]:
sql_query = 'SELECT g.*, g.h_club_id, gc.wins AS h_wins, gc.losses AS h_losses, gc.draws AS h_draws, gc.division AS h_divison,\
gc.ten_match_record as h_tm_record, gc.goals_per_match as h_goals_per_match,\
gc.goals_conceded_per_match as h_goals_conceded_per_match, g.opp_club_id, go.wins AS opp_wins, go.losses AS opp_losses,\
go.draws AS opp_draws, go.division AS opp_division, go.ten_match_record as opp_tm_record,\
go.goals_per_match as opp_goals_per_match, go.goals_conceded_per_match as opp_goals_conceded_per_match \
FROM games g JOIN clubs gc ON g.h_club_id = gc.club_id JOIN clubs go ON g.opp_club_id = go.club_id'

In [7]:
df = pd.read_sql(sql_query, engine)

In [8]:
df.head()

,pull_time,game_id,console,winning_club,h_club,h_club_id,h_goals,h_shots,h_shot_percent,h_passes_made,...,h_goals_per_match,h_goals_conceded_per_match,opp_club_id,opp_wins,opp_losses,opp_draws,opp_division,opp_tm_record,opp_goals_per_match,opp_goals_conceded_per_match
0,2023-03-21 05:02:18,15695788211,xboxone,Draw,Bang Average FC,1940614,1,6,0.17,95,...,2.63,0.75,15695788,56.0,8.0,14.0,1.0,WWWLLLLLDD,2.87,1.32
1,2023-03-21 05:02:18,1940614259,xboxone,Bang Average FC,Bang Average FC,1940614,5,13,0.38,92,...,2.63,0.75,18834,424.0,139.0,336.0,1.0,WWWWWLLLDD,2.55,2.31
2,2023-03-21 05:02:18,7612049113,xboxone,punjabi panther,Bang Average FC,1940614,1,7,0.14,99,...,2.63,0.75,7612049,57.0,16.0,34.0,2.0,WWWWWWWWLD,2.39,1.71
3,2023-03-21 05:02:18,19406141058,xboxone,Draw,Bang Average FC,1940614,1,11,0.09,154,...,2.63,0.75,176694,208.0,100.0,243.0,1.0,WWWLLLLDDD,1.89,2.07
4,2023-03-21 05:02:18,8369654865,xboxone,Bang Average FC,Bang Average FC,1940614,3,13,0.23,118,...,2.63,0.75,8369654,285.0,97.0,219.0,2.0,WWWWLLLLLD,2.31,2.05

In [9]:
df.to_csv('raw_scraped_csv/joined_clubs_matches.csv', index=False)