In [1]:
import requests
import pandas as pd
import MyFunctionsList as mfs
from DoNotPublish import password
from sqlalchemy import create_engine
from bs4 import BeautifulSoup as soup
import datetime

# Debugging
import time
from IPython.display import display, clear_output

In [2]:
# Debug
start_time = time.time()

# Creates a dictionary to fill later. Key = Console, Value = [List of Clubs]
final_multi_console_ids = {}

consoles = ["xboxone", "ps4","xbsxs","ps5","pc"]

# Iterate through each console's top 100
for console in consoles:
    
    console_id_list = []
    # Construct URL, Scrape Website
    url = f"https://proclubshead.com/23/leaderboard-club/{console}"
    site = mfs.scrape(url)
    
    for club in site.find_all("a", class_="btn btn-secondary d-block mb-3 p-0", href=True):
        club_link = club['href']
        club_id = mfs.simple_link_stripper(club_link)
        console_id_list.append(club_id)        
    final_multi_console_ids[console] = console_id_list
    
    
# Debug
end_time = time.time()
print("Time taken:", end_time - start_time, "seconds")

Time taken: 9.136853218078613 seconds

In [3]:
# Debug
start_time = time.time()
length  = 0
for console in final_multi_console_ids:
    length += len(final_multi_console_ids[console])
counter = 0

# Iterate through each console. 
final_club_data_list = []


for console in final_multi_console_ids:
    
    #Iterate through each club. 
    for club in final_multi_console_ids[console]:
        print(club)
        club_data = mfs.club_scrape(console, club)
        final_club_data_list.append(club_data)
        
        #debug
        clear_output(wait=True)
        counter += 1
        print(f"{counter}/{length}")
        
# Debug
end_time = time.time()
print("Time taken:", end_time - start_time, "seconds")

499/499
Time taken: 395.51161217689514 seconds

In [4]:
#Generates and stores current time for later use. 
current_time = datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')

In [5]:
Top_Clubs = pd.DataFrame(final_club_data_list)

Top_Clubs.insert(0, 'pull_time', current_time)

Top_Clubs.head()

,pull_time,club_name,active,console,club_id,division,ten_match_record,total_games,wins,losses,...,best_season_div,best_season_points,region,stadium,total_rank_points,league_points,cup_points,div_1_titles,other_div_titles,total_trophies
0,2023-03-20 18:05:16,Bang Average FC,Yes,xboxone,1940614,1,WWWWWWLLDD,510,393,62,...,1,25,British Isles,San Siro,14862,14862,0,32,8,40
1,2023-03-20 18:05:16,FootieXI,Yes,xboxone,4339359,1,WWWWWWWLLD,496,397,51,...,1,25,British Isles,Old Trafford,15603,15603,0,37,9,46
2,2023-03-20 18:05:16,NO TRUENES,Yes,xboxone,3705104,1,WWWWWWWLLD,499,415,51,...,1,25,Central America,ESTADIO DE TRONACION,16656,16656,0,42,9,51
3,2023-03-20 18:05:16,rock club,Yes,xboxone,542709,1,WWWWWWLLDD,1260,864,183,...,1,25,British Isles,Parc des Princes,32806,32806,0,70,5,75
4,2023-03-20 18:05:16,XVC AC MILAN,Yes,xboxone,10205899,1,WWWWWWWWLD,328,270,21,...,1,25,British Isles,Old Trafford,9773,9773,0,21,9,30

In [6]:
protocol = 'postgresql'
username = 'postgres'
password = password
host = 'localhost'
port = 5432
database_name = 'pro_clubs_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [7]:
Top_Clubs.to_sql('clubs', engine, if_exists='append', index=False)

In [8]:
# Optional
Top_Clubs.to_csv("raw_scraped_csv/Top_Clubs.csv", index=False)